.maindiv {
  width: 50%;
  margin-left: 20%;
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-top: 5%;
}

.input-search {
  height: 10px;
  width: 0px;
  border-style: none;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;

  /* Updated color */
  background-color: #00b8fb;

  padding-right: 40px;

  /* Updated color */
  color: #ffffff;

}

.input-search::placeholder {

  /* Updated color */
  color: rgba(255, 255, 255, .5);

  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 60px;
  margin-top: -1%;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  position: absolute;
  right: 0px;

  color: #ea0c0c;

  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus~.input-search {
  width: 300px;
  border-radius: 0px;

  background-color: #7f00ff;

  border-bottom: 1px solid rgba(255, 255, 255, .5);
  transition: all .5s cubic-bezier(0, .210, .35, 2);
}

.input-search:focus {
  width: 300px;
  border-radius: 0px;

  /* Updated color */
  background-color: #000000;

  border-bottom: 1px solid rgba(255, 255, 255, .5);
  transition: all .5s cubic-bezier(0, .210, .35, 2);
}